@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
    max-height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
    margin-right: 5px;
  }
h2{
    font-family: 'Barlow', sans-serif !important;
    font-size: 50px !important;
    font-weight: 800 !important;
    line-height: 60px !important;
    margin-bottom: 10px !important;
}
h3{
    font-family: 'Barlow', sans-serif !important;
    font-size: 24px !important;
    font-weight: 800 !important;
    line-height: 26px !important;
}
